<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374121011897-lf98tgm7cbtatbansuuo0brhlb17pr54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374121011897-lf98tgm7cbtatbansuuo0brhlb17pr54</string>
	<key>API_KEY</key>
	<string>AIzaSyDUjXm4O6_QL_pjJKu4OR3nnQeCZVcPWCk</string>
	<key>GCM_SENDER_ID</key>
	<string>374121011897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gobet</string>
	<key>PROJECT_ID</key>
	<string>deltasoftbet</string>
	<key>STORAGE_BUCKET</key>
	<string>deltasoftbet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374121011897:ios:deb8fac719dca87f815968</string>
</dict>
</plist>